.container {
    background-color: rgb(254, 252, 252);
    height: 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    margin-top: 0px;
    list-style: none;
    gap:10px;
    border-bottom: 2px ;
    border-bottom-style:outset;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: 700;

  }
  
  .active {
    color: orangered;
    text-decoration: underline;
  }